---
import { info } from "@data";

import Layout from "@layouts/Layout.astro";
import Hero from "@components/home/Hero.astro";
import Experience from "@components/home/Experience.astro";
import ProjectsWrapper from "@components/general/ProjectsWrapper.astro";
import MetaHead from "@components/general/MetaHead.astro";

const featureProjects = info.projects.map((project, index) => {
  if (project.isFeatured && index < 6) {
    return project;
  }
});
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MetaHead
      title={"Portfolio"}
      description={info.about}
      ogImageUrl={"/assets/images/profile.png"}
    />
  </head>

  <body>
    <Layout>
      <Hero name={info.name} tagline={info.tagline} about={info.about} />
      <Experience title={"WORK"} details={info.experience} />
      <Experience title={"EDUCATION"} details={info.education} />
      <section class="mt-16">
        <h2 class="w-[15rem] dark:text-light text-xl font-semibold">TECHNICAL SKILLS</h2>
        <div class="w-full">
          <div class="mt-8 flex">
            <h3 class="w-[15rem] text-sky-600 dark:text-green-400">Programming languages</h3>
            <div class="flex flex-wrap gap-4">
              {info.technical.languages.map((skill) => (
                <div class="flex items-center gap-2 ">
                  <p class="dark:text-gray">{skill}</p>
                </div>
              ))}</div>
          </div>
          <div class="mt-8 flex">
            <h3 class="w-[15rem]  text-sky-600 dark:text-green-400">Technologies</h3>
            <div class="flex flex-wrap gap-4">
              {info.technical.technologies.map((skill) => (
                <div class="flex items-center gap-2">
                  <p class="dark:text-gray">{skill}</p>
                </div>
              ))}</div>
          </div>
          <div class="mt-8 flex">
            <h3 class="w-[15rem]  text-sky-600 dark:text-green-400">Databases</h3>
            <div class="flex flex-wrap gap-4">
              {info.technical.databases.map((skill) => (
                <div class="flex items-center gap-2">
                  <p class="dark:text-gray">{skill}</p>
                </div>
              ))}</div>
          </div>
        </div>

      </section>
      <section>
        <h2 class="w-[15rem] dark:text-light mt-16">FEATURE PROJECTS</h2>
        <ProjectsWrapper projects={featureProjects} />
      </section>
    </Layout>
  </body>
</html>
