---
import { info } from "@data";

import Layout from "@layouts/Layout.astro";
import Hero from "@components/home/Hero.astro";
import Experience from "@components/home/Experience.astro";
import ProjectsWrapper from "@components/general/ProjectsWrapper.astro";
import MetaHead from "@components/general/MetaHead.astro";
import Paragraph from "@components/general/Paragraph.astro";
import AboutMe from "@components/general/AboutMe.astro";
import Technical from "@components/general/Technical.astro";

const featureProjects = info.projects.map((project, index) => {
  if (project.isFeatured && index < 6) {
    return project;
  }
});
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MetaHead
      title={"Portfolio"}
      description={info.about}
      ogImageUrl={"/assets/images/profile.png"}
    />
  </head>

  <body>
    <Layout>
      <Hero
        name={info.name}
        tagline={info.tagline}
        highLights={info.highLights}
      />
      <AboutMe title={"ABOUT ME"} content={info.about} />
      <Experience title={"WORK"} details={info.experience} />
      <Experience title={"EDUCATION"} details={info.education} />
      <Technical />
      <section>
        <h2 class="w-[15rem] dark:text-light mt-32">FEATURE PROJECTS</h2>
        <ProjectsWrapper projects={featureProjects} />
      </section>
    </Layout>
  </body>
</html>
